{% extends 'base.html' %}

{% block title %}Confirmar Borrado{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>¿Estás seguro de que quieres borrar esta pelicula?</h2>
    <p><strong>{{ pelicula.titulo }}</strong> será eliminado de forma permanente.</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Sí, Borrar</button>
        <a href="{% url 'peliculas:detalle_pelicula' pelicula.pk %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
